<!DOCTYPE html>
<html>
<head>
  <title>Workout</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header role="banner">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <%= link_to "Athletes Den", root_path, class: "navbar-brand" %>
          </div>
          <div class="navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="active"><%= link_to "Home", root_path %>
                <span class="sr-only">(current)</span>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Sign up", new_user_registration_path %></li>
            <li><%= link_to "Sign in", new_user_session_path %></li>
            <% if user_signed_in? %>
              <div class="navbar-right">
                <p class="navbar-text">
                  Signed in as <%= "#{current_user.email}" %>
                </p>
              </div>
            <% end %>
            </ul>
          </div>
        </div>
      </nav>
  </header>
  <div class="container">
    <% flash.each do |name,msg| %>
    <div class='alert alert-<%="#{name}"%>'>
      <a href="#" class="close" data-dismiss="alert" &#215;></a>
      <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
    </div>
    <% end %>
    <%= yield %>
</div>
</body>
</html>
